.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deleteBtn {
  background-color: black !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}
